[Desktop Entry]
Version=1.0
Type=Application
Exec=/lib/cyl\!\# %F
Name=Curly Library
Comment=Shows a Curly library\'s contents
Terminal=true
MimeType=application/curly-library
