[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/lib/curly/install-uri %U
Name=Install Curly Program
Comment=Installs a program from a Curly URI
Terminal=false
MimeType=x-scheme-handler/curly
